hr{
  margin-top: 10px;
  margin-bottom: 10px;
}

input{
  width:100%
}

.left-bar{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  border-right: 1px solid #f1f1f1;
  padding-top: 50px;
  background-color: #fafafa;
}

#editor{
  vertical-align: top;
  width: 640px;
  padding: 6px 25px 12px 30px;
  padding-top: 80px !important;
  padding-bottom: 85px !important;
}

.addTask{
  /* padding: 0 0 0 3px !important; */
    /* font-size: 13px !important; */
    /* opacity: .4; */
    -webkit-transition: opacity 150ms ease-in;
    transition: opacity 150ms ease-in;
    cursor: pointer;
    /* height: 3em;
    line-height: 3em; */
    margin-bottom: 25;
}

.icon-container{
  /* max-width: 150px; */
  display: "flex";
  flex-wrap: "wrap";
  align-items: "center";
  justify-content: "space-between";
}

.red-btn{
  background: 0;
  background-color: #db4c3f;
  color: #fff !important;
  text-shadow: none;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 6px 12px 7px 12px;
}

.card{
  margin: 10px;
  padding: 5px;
  max-width: 700px;
}

.card-border{
  border: 1px solid #ccc;
}

.card-img-left{
  max-width: 100px;
  max-height: 100px;
}
